---
import { HeroSlider1 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
  title="Dalopeza | Contactar - Webdevloper & Designer"
  description="YOUR META DESCRIPTION FOR SEO"
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:load
      data={{
        image: HeroSlider1.src,
        content: {
          title: "Contact",
          paragraph:
            "¿Tienes problemas o necesitas ayuda? ¡Contáctanos y te ayudaremos!",
        },
      }}
    />
    <ContactModule client:load />
  </main>
  <Footer />
</Layout>
